/*
=============== 
Fonts
===============

=============== 
Variables
===============
*/
/* montserrat-300 - latin */

:root {
  /* BOJE----------------- */
  --crvena-gradjevinski: #d13642;
  --plava-gradjevinski: #4493c4;
  --gradient: linear-gradient(0deg, #000000 0%, rgba(184, 184, 184, 0) 55.05%),
    #4493c4;
  --alternativa-gradient: linear-gradient(0deg, #d85f39, #d85f39), #000000;
  --alternativa-2: #71a8bf;
  --crna-gradient: linear-gradient(0deg, #393939, #393939), #ffffff;
  --siva-cards: linear-gradient(0deg, #b3b3b3, #b3b3b3), #000000;
  /* FONTOVI---------------------- */
  --text-card-14-medium: "Montserrat", sans-serif;
  --text-card-14-medium: "Montserrat", sans-serif;
  --max-width: 1152px;
  --fixed-width: 700px;
}
/*
  =============== 
  Global Styles
  ===============
  */

html {
  font-family: "Raleway", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}
body {
  max-width: var(--max-width);
  background-color: #c2eafb02;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  outline-width: 0;
}
a:active {
  color: white;
  position: relative;
  font-weight: 700;
  /* transition: all 0.8s ease-in-out !important; */
  outline: white solid 1px;
  padding: 5px;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.carousel-root {
  width: 100% !important;
  height: 100%;
  margin: 0 auto !important;
}
.carousel {
  background: transparent !important;
  color: black;
  height: 100%;
  z-index: 100;
}
.carousel .slide {
  background: transparent !important;
}

.carousel.carousel-slider .control-arrow {
  background: transparent !important;
  height: 50px !important;
  position: absolute;
  top: 50% !important;
}
.carousel .control-dots .dot {
  box-shadow: none !important;
  /* background: #454545 !important; */
  outline: 0;
}
.carousel .control-dots {
  margin: 0;
}
.arrowDownIkona {
  transform: rotate(-180deg);
  opacity: 0.3;
}
.arrowIkona {
  transition: all 0.4s cubic-bezier(0.42, 0.71, 0.49, 0.98);
}

.dodatak {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  padding: 35px 10% 46px 10%;
  background-color: #8a9fa8;
  height: 200px;

  /* margin-top: 20px; */
}

.otkrijiDodatak {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px !important;
}

.kategorijaButton {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 88px;
  color: white;
  border-bottom: 1px solid white;
  transition: all 0.4s ease-in-out;
  background-color: #71a8bf;
  font-weight: 800;
  font-size: 20px;
  line-height: 130.02%;
  text-align: left;
  padding-left: 133px;
  padding-right: 50px;
}
.ikonaKategorije {
  position: absolute;
  left: 46px;
  font-size: 32px;
}
.kategorijaToggleText {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8a9fa8;
  color: white;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  height: 0;
  transition: all 0.4s ease-in-out !important;
  overflow: hidden;
}

@media only screen and (max-width: 48em) {
  .mobilne-kategorija {
    display: flex;
    transition: all 0.3s ease-in-out;
  }
}
@media only screen and (max-width: 430px) {
  .LinkHeaderProjekti {
    /* display: none; */
  }
  .otkrijiDodatak {
    height: 150px !important;
  }
}
@media only screen and (max-width: 450px) {
  .kategorijaButton {
    font-size: 18px;
    padding-left: 75px;
  }
  .ikonaKategorije {
    left: 26px;
    font-size: 26px;
  }
}

@media only screen and (max-width: 350px) {
  .otkrijiDodatak {
    height: 180px !important;
  }
}
/* ____________________________________________sidebar */
.dark {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
  z-index: 900;
}
.react-reveal {
  z-index: 9999;
}

.sidebarLink {
  transform: translateX(-200px);
  opacity: 0;
}
/* .slick-slide {
  transition: opacity 8000ms linear 0s, visibility 1000ms linear 0s im !important;
} */
/* .slick-slide img {
  transition: transform 10s linear !important;

  transform: scale(1.05) !important;
}
.slick-active img {
  transform: scale(1.25) !important;
} */
/* .slick-slider {
  height: 600px !important;
} */
.show-Link {
  animation: slideRight 0.6s ease-in-out 0.3s forwards;
  font-weight: 700 !important;
  color: #b2b2b2 !important;
}
.sidebar {
  opacity: 1;
  transition: all 0.3s linear;
  transform: translateX(-100%);
}
.hide-menu {
  transition: all 0.3s linear;
  transform: translateX(-100%);
  visibility: hidden;
}
.show-menu {
  transform: translateX(0);
  transition: all 0.3s linear;
  visibility: show;
}
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #000000;
  /* display: none; */
}
.show-sidebar {
  opacity: 1;
  transform: translateX(0);
}
.show-Link:nth-of-type(1) {
  animation-delay: 0.25s;
}
.show-Link:nth-of-type(2) {
  animation-delay: 0.5s;
}
.show-Link:nth-of-type(3) {
  animation-delay: 0.75s;
}
.show-Link:nth-of-type(4) {
  animation-delay: 1s;
}
.show-Link:nth-of-type(5) {
  animation-delay: 1.25s;
}
.show-Link:nth-of-type(6) {
  animation-delay: 1.5s;
}
.show-Link:nth-of-type(7) {
  animation-delay: 1.75s;
}

.show-Link:nth-of-type(8) {
  animation-delay: 2s;
}
.show-Link:nth-of-type(9) {
  animation-delay: 2.25s;
}
.show-Link:nth-of-type(10) {
  animation-delay: 2.51s;
}

@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* iframe {
  width: 100% !important;
  height: auto !important;
} */
/* .video-container {
  overflow: hidden;
  position: relative;
  width: 80%;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;

  width: 80vw;
} */
.videowrapper {
  width: 85vw;
  max-height: 400px;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 -> 9/16x100 */
  overflow: hidden;
}
center {
  text-align: center;
}

.if {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.customOverlay {
  max-width: 90%;
  display: inline-block;
  text-align: left;
  background: black !important;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 1.2rem;
  padding: 0 !important;
  position: relative;
  /* overflow-y: auto; */
}
.customModal {
  max-width: 80%;
  width: 0;
  /* height: 100%; */
  content: "";
  display: inline-block;
  vertical-align: middle;
}
/* ------------------------------------------------ */

.textOrange {
  display: none;
  z-index: 2;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 19px;
  color: white;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.fade-in-section {
  z-index: 200;
  opacity: 0;
  transform: translateY(12vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  z-index: 200;
  opacity: 1;
  transform: none;
  visibility: visible;
}
.fade-in-section2 {
  z-index: 200;
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section2.is-visible {
  z-index: 200;
  opacity: 1;
  transform: none;
  visibility: visible;
}
.blueLink {
  /* color: white !important; */
  font-weight: 700 !important;
  /* border-bottom: 2px solid white; */
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
/* img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
} */
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
/* iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
} */
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

@media only screen and (max-width: 760px) {
  .carousel1 {
    display: none;
  }
}

.headerShadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  clip-path: inset(0px 0px -4px 0px);
}
.primary-nav {
  position: relative;
  /* top: 3px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* margin-right: 175px; */
  /* justify-content: center; */
  width: 804px;
  /* min-width: 804px; */
  margin: 0 auto;
  transition: all 0.8s ease-in-out !important;
}
.map-container {
  position: relative !important;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 90vh;
}
.PrivateValueLabel-offset-3 {
  font-size: 0.6rem !important;
}
.PrivateValueLabel-circle-4 {
  background-color: #664f3e !important;
}
.MuiSlider-root {
  color: #664f3e !important;
  z-index: 2 !important;
  font-size: 0.4rem !important;
  height: 100% !important;
  /* width: 60% !important; */
}
.MuiSlider-valueLabel {
  margin-right: 40px;
  font-size: 9px !important;
  font-weight: bolder;
  transform: translate(0px, 9px) !important;
}
.MuiSlider-valueLabel span:nth-child(1) {
  border-radius: 50% !important;
  background: unset;
  color: #534227;
  font-weight: bold;
}
.MuiSlider-valueLabel span {
  /* transform: translate(3px, 5px) !important; */
}
/* .popupImage {
  width: auto;
} */
.wrapPopup {
  /* position: relative;
  padding: 30px;
  background-color: transparent;
  border-radius: 7px; */
  width: 100%;
}
.popupTitle {
  position: absolute;
  padding: 20px 20px;
  /* background-color: wheat; */
  font-size: 1rem;
  color: #eeebe4;
  margin: 0.3rem auto 0.7rem 0.5rem;
  width: auto;
  top: 0;
  z-index: 1;
}
.popupImageWrap {
  width: 55vw;
  max-width: 550px;
  height: 40vw;
  max-height: 430px;
  margin-top: 30px;
}
.imgTest {
}
.imgTest img {
  border: 55px solid rgba(7, 7, 7, 0.616);
  object-fit: contain;
  max-height: 560px;
  max-width: 670px;
  transform: scale(1.034);
  /* transform-origin: center; */
}

.moj-popupMapbox {
  position: relative !important;
  width: 100%;
  height: 100vh;
  /* position: absolute; */
  display: flex;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-44%, -50%) !important;
  justify-content: center !important;
  align-items: center;
}
/* .mapboxgl-popup {
  width: 95% !important;
} */
.mapboxgl-popup-content {
  position: absolute;
  /* padding: 10px 50px 15px !important; */
  /* width: 70vw;
  max-width: 800px;
  height: 50vw;
  max-height: 560px; */
  box-shadow: none !important;
  background-color: transparent !important;
  /* max-height: 420px;
  max-width: 700px; */
}
/* .mapboxgl-popup-content img {
  border: 50px solid rgba(83, 75, 75, 0.507) !important;
} */
.mapboxgl-popup-close-button {
  position: absolute;
  z-index: 3 !important;
  top: 16px !important;
  right: 56px !important;
  border-radius: 6px !important;
  font-size: 20px;
  color: #eee8e4;
  /* background-color: #dac295 !important; */
  width: 30px;
  height: 30px;
}

/* .makeStyles-title-28 {
  position: relative;
  z-index: 2;
} */
/* .makeStyles-root-27 {
  position: absolute;
  right: 50px;
  top: 50px;
} */
.mapWrapper {
  position: fixed;
  width: 100%;
  height: auto;
}
/* .mapboxgl-canvas {
  height: 100% !important;
} */
.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 12px;
  border-radius: 4px;
}
.mapboxgl-ctrl-geocoder {
  min-width: 300px !important;
}
.sidebar2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #534227;
  font-weight: bolder;
  font-size: large;
  z-index: 1;
  position: absolute;
  bottom: 3%;
  right: 0%;
  transform: translate(-50%, -0%);
  margin: 12px;
}
.PrivateValueLabel-circle-7 {
  width: 26px !important;
  height: 26px !important;
  border-radius: 50% !important;
  transform: rotate(0) !important;
}
.PrivateValueLabel-label-8 {
  transform: rotate(0) !important;
}

.map-overlay {
  position: absolute;
  width: 380px;
  padding-top: 50px;
  padding-left: 25px;
  right: 0px;
  top: 0px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: #c6bcaa;
  border-bottom-left-radius: 10px;
  max-height: 100%;
  height: 108px;
  overflow: hidden;
  z-index: 1;
}
.map-overlay .listing {
  overflow: auto;
  max-height: 100%;
  display: flex;
}

.map-overlay .listing > * {
  display: block;
  padding: 5px 10px;
  margin: 0;
}

.map-overlay .listing a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #404;
  text-decoration: none;
}

.map-overlay .listing a:last-child {
  border: none;
}

.map-overlay .listing a:hover {
  background: #f0f0f0;
}
.popupFrame {
  position: absolute;
  width: 73vw;
  height: 27%;
  max-height: 80%;
  max-width: 580px;
  background-color: transparent;
  left: 48%;
  transform: translate(-50%, 0%);
  /* top: 48px; */
  bottom: 50%;
  margin: 0 auto;
  /* transform: translate(-50%, -50%); */
  z-index: 2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 15px 15px 15px;
  border-radius: 10px;
}
.slides-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 185px;
  direction: rtl;
  /* padding-top: 50px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif; */
  background-color: #c6bcaa;
  max-height: 100%;
  height: 100%;
  overflow: auto;
  z-index: 10;
  padding-top: 10px;
  top: 0;
  border-right: 1px solid #eeebe4;
}
.slides-div {
  position: relative;
  width: 150px;
  min-width: 150px;
  border-radius: 3px;
  cursor: pointer;
}
.slides-wrap img {
  width: 100%;
}
.x {
  position: absolute;
  top: 20px;
  right: 41px;
  font-size: 13px;
  cursor: pointer;
  z-index: 3;
  color: rgb(32, 32, 32);
  padding-top: 3px;
  padding-left: 10px;
  border-radius: 6px;
  background-color: wheat;
  width: 30px;
  height: 30px;
}
.primary-nav-mobile-meni {
  position: relative;
  /* top: 3px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  /* margin-right: 175px; */
  /* justify-content: center; */
  width: 100%;
  height: 50%;
  /* min-width: 804px; */
  margin: 120px auto;
  transition: all 0.8s ease-in-out !important;
}

.LinkHeader a {
  transition: all 0.8s ease-in-out !important;
  text-decoration: none;
}
/* .LinkHeader:hover {
  color: white;
  font-weight: 500;
  font-size: 15.8px;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
} */

.logoHeader {
  transition: all 0.3s ease-in-out;
}
.logoHeader:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

@media screen and (max-width: 999px) {
  .primary-nav {
    width: 680px;
    min-width: 680px;
    /* top: 0; */
    /* margin-right: 15%; */
  }
  .primary-nav > a {
    width: 100px;
  }
  /* .moj-popupMapbox {
    position: absolute;
    top: 60% !important;
    left: 0% !important;
    transform: translate(60%, -60%) !important;
  } */

  .imgTest img {
    max-height: 480px;

    max-width: 560px;
    transform: scale(1.057);
  }
}
@media screen and (max-width: 865px) {
  .primary-nav {
    /* width: 800px; */
    /* top: 0; */
    /* margin-right: 15%; */
  }
  .primary-nav > a {
    width: 100px;
  }
  .imgTest img {
    max-height: 480px;

    max-width: 440px;
    transform: scale(1.057);
  }
}
@media screen and (max-width: 700px) {
  /* .map-overlay {
    position: absolute;
    width: 400px;
    padding-top: 18px;
    padding-left: 10px;
    right: 3px;
    top: 50px;
    font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
    max-height: 100%;
    height: 70px;
    overflow: hidden;
  } */
  .MuiSlider-valueLabel {
    margin-left: 0px;
    font-size: 8px !important;
    /* transform: translate(0px, 23px) !important; */
  }
  .slides-wrap {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: absolute;
    width: 100%;
    direction: rtl;
    /* padding-top: 50px;
    font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif; */
    background-color: #c6bcaa;
    /* max-height: 100%; */
    height: 135px;
    overflow: auto;
    z-index: 10;
    padding-top: 7px;
    top: unset;
    bottom: 38px;
    /* border-right: 1px solid #eeebe4; */
    /* overflow: hidden; */
  }
  /* .slides-wrap::-webkit-scrollbar {
    display: none;
  } */
  .slides-div {
    width: auto;
    height: 100%;
    min-width: unset;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 3px;
  }
  .slides-wrap img {
    height: 100px;
    width: auto;
    object-fit: contain;
  }
  /* .popupFrame {
    width: 90vw;
    height: 60vw;
    max-height: 80%;
    max-width: 579px;
    top: 0;
    left: 48%;
    transform: translate(-48%, 50%);
  } */
  .header-wrap {
    display: none;
  }
  /* .mapWrapper {
    height: 100vh;
  } */
  .mapboxgl-ctrl-geocoder {
    height: 40px;
  }
  .mapboxgl-ctrl-geocoder--input {
    font-size: smaller !important;
    height: 40px !important;
  }
  .MuiSlider-root {
    padding: 0;
  }
  /* .wrapPopup {

    padding-top: 50px !important;
  } */
  .sidebar2 {
    bottom: 17%;
  }
  /* .mapboxgl-popup-content {
    width: 85vw !important;
    height: 55vw;

    padding: 0px !important;
  } */
  /* .mapboxgl-popup-content img {
    width: 85vw;
    max-width: 790px;
    height: 55vw;
    max-height: 510px;
  } */
  .popupTitle {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .mapboxgl-popup-close-button {
    top: 0px !important;
    right: 16px !important;
    font-size: 16px;
    color: #fcfbfa;
  }

  .imgTest img {
    border: 38px solid rgba(7, 7, 7, 0.616);
    max-height: 460px;
    max-width: 505px;
  }
  /* .popupImageWrap {

    margin-top: 0;
  } */
  .moj-popupMapbox {
    position: absolute;
    top: -10% !important;
    left: 0% !important;
    transform: translate(0%, 0%) !important;
  }
  /* .primary-nav {
    display: none;
  } */
  /* .primary-nav > a {
    margin-left: 22px !important;
    position: relative;
    bottom: 12px;
  } */
}
@media screen and (max-width: 580px) {
  .imgTest img {
    height: auto;
    /* width: auto; */
    max-width: 280px;
    transform: scale(1.057);
  }
}
@media screen and (max-width: 488px) {
  .imgTest img {
    height: auto;
    /* width: auto; */
    border: 28px solid rgba(7, 7, 7, 0.616);
    max-height: 400px;
    max-width: 320px;
  }
  .moj-popupMapbox {
    position: absolute;
    top: -60px !important;
    left: -3% !important;
    transform: translate(0%, 0%) !important;
  }
}
@media screen and (max-width: 430px) {
  .mapboxgl-ctrl-top-right {
    width: 95%;
  }
  .mapboxgl-ctrl-geocoder--input {
    width: 95%;
    font-size: smaller !important;
    height: 40px !important;
  }
  .map-overlay {
    padding-right: 35px;
    width: 100%;
    /* margin-right: 10px; */
    border-radius: unset;
  }
  .mapWrapper {
    height: 100%;
  }
  .popupTitle {
    padding: 0;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .imgTest img {
    height: auto;
    /* width: auto; */
    border: 28px solid rgba(7, 7, 7, 0.616);
    max-height: 350px;
    max-width: 320px;
  }
  .moj-popupMapbox {
    position: absolute;
    top: -60px !important;
    left: -3% !important;
    transform: translate(0%, 0%) !important;
  }
  .slides-wrap {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: absolute;
    width: 100%;
    direction: rtl;
    background-color: #c6bcaa;
    max-height: 100%;
    height: 115px;
    overflow: auto;
    z-index: 10;
    padding-top: 10px;
    bottom: 38px;
    /* border-right: 1px solid #eeebe4; */
  }

  /* .slides-wrap {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    justify-content: flex-end;
    width: 100%;
    direction: rtl;
    background-color: #c6bcaa;
    height: 90px;
    overflow: auto;
    z-index: 10;
    padding-top: 7px;
    bottom: 10px;
  } */
  /* .slides-wrap::-webkit-scrollbar {
  display: none;
} */
  .slides-div {
    width: auto;
    height: 100%;
    min-width: unset;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 3px;
  }

  .slides-wrap img {
    height: 77px;
    width: auto;
    object-fit: contain;
  }
  .PrivateValueLabel-offset-6 {
    top: 0 !important;
  }

  .map-container {
    height: 92vh;
  }
  .MuiSlider-valueLabel {
    font-size: 10px !important;
    margin-bottom: 15px;
    /* transform: translate(0px, -11px) !important; */
  }
}

@media screen and (max-width: 410px) {
  .mapWrapper {
    height: 100%;
  }
  .popupTitle {
    padding: 0;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .imgTest img {
    height: auto;
    /* width: auto; */
    border: 25px solid rgba(7, 7, 7, 0.616);

    max-width: 290px;
  }
  .moj-popupMapbox {
    position: absolute;
    top: -60px !important;
    left: -3% !important;
    transform: translate(0%, 0%) !important;
  }
}
@media screen and (max-width: 370px) {
  .mapWrapper {
    height: 100%;
  }
  .popupTitle {
    padding: 0;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .imgTest img {
    height: auto;
    /* width: auto; */
    border: 20px solid rgba(7, 7, 7, 0.616);

    max-width: 250px;
  }
  .moj-popupMapbox {
    position: absolute;
    top: -60px !important;
    left: -5% !important;
    transform: translate(0%, 0%) !important;
  }
}
.primary-nav > a {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  /* margin: 0 10px; */
  width: 125px;
  text-align: center;
  line-height: 16px;
}
.primary-nav-mobile-meni > a {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  /* margin: 0 10px; */
  width: 110px;
  text-align: center;
  line-height: 16px;
}

.primary-nav > a:hover {
  color: white;
  position: relative;
  font-weight: 700;
}
.primary-nav-mobile-meni > a:hover {
  color: white;
  position: relative;
  font-weight: 700;
}

.primary-nav > .active {
  color: white;
  position: relative;
  font-weight: 700;
  transition: all 0.8s ease-in-out !important;
  outline: white solid 1px;
  padding: 5px;
}
.primary-nav-mobile-meni > .active {
  color: white;
  position: relative;
  font-weight: 700;
  transition: all 0.8s ease-in-out !important;
  outline: white solid 1px;
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 800ms cubic-bezier(0.82, 0.01, 0, 0.99);
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}

.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}
.headroom-wrapper {
  width: 100%;
}
